.DS_Store
*/.DS_Store 
Text_portfolio.txt
assets/img/perfil1.png
assets/img/about.jpg
assets/pdf/*
assets/img/E38_fPXXEAA_XvO.jpeg
assets/img/bullW.png
assets/img/bullW.psd
assets/img/hermes-rivera-newhL3aprGk-unsplash.jpg
assets/img/joshua-coleman-AVqs0ItdMQM-unsplash.jpg